{
  "root": true,
  "parser": "babel-eslint",
  "globals": {
    "PATH_SEP": true,
    "TEST_FILE_SUFFIX": true
  },
  "rules": {
    "linebreak-style": 0,
    "max-params": 0
  },
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true,
    "es6": true,
    "phantomjs": true
  },
  "extends": [
    "xo-space/esnext"
  ],
  "plugins": [
    "html"
  ]
}
